<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4">

    <servlet>
        <servlet-name>tankraft</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>tankraft</servlet-name>
        <url-pattern>/game/*</url-pattern>
    </servlet-mapping>

</web-app>